{% extends "base.html" %}
{% block title %}Publicaciones{% endblock %}
{% block content %}
<h2>🐾 Animales en adopción</h2>

<div class="publicaciones-list">
    {% for pub in publicaciones %}
    <div class="card mb-4">
        <div class="row g-0">
            {% if pub.imagen %}
            <div class="col-md-4">
                <img src="{{ pub.imagen.url }}" class="img-fluid rounded-start" alt="{{ pub.titulo }}">
            </div>
            {% endif %}
            <div class="col-md-8">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <div class="datos_izquierda flex-fill pe-3">
                        <p><strong>Nombre: </strong>{{ pub.nombre }}</p>
                        <p><strong>Edad: </strong>{{ pub.edad }} años</p>
                        <p><strong>Raza: </strong>{{ pub.raza }}</p>
                    </div>

                    <div class="datos_derecha flex-fill ps-3">
                        <p><strong>Sexo: </strong>{{ pub.sexo }}</p>
                        <p><strong>Castrado: </strong>{% if pub.castrado %}Sí{% else %}No{% endif %}</p>

                        {% if pub.vacunas %}
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                Vacunas
                            </button>
                            <ul class="dropdown-menu">
                                {% for vacuna in pub.vacunas %}
                                <li><a class="dropdown-item disabled" href="#">{{ vacuna }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% else %}
                        <p>No tiene vacunas</p>
                        {% endif %}
                    </div>
                </div>
                <a href="{% url 'publicaciones_detail' pub.pk %}" class="btn btn-success mt-2 mb-2">Ver más detalles</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No hay publicaciones disponibles.</p>
    {% endfor %}
</div>
{% endblock %}